<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="promise_integration.design.Activator"
               id="promise_integration.design"
	       name="promise_integration">
    </component>
  </extension>
</plugin>
