/.PromiseDescriptionLabelProvider.java._trace
/.PromiseLabelProvider.java._trace
/.PromiseDescriptionLabelProvider.xtendbin
/.PromiseLabelProvider.xtendbin
/PromiseDescriptionLabelProvider.java
/PromiseLabelProvider.java
